.account-container 
{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    margin: 2.8rem 15rem;
    /* background-color: aquamarine; */
    background-color: #B2ADEA;
    border-radius: 20px;
}

.Left-part 
{
    display: flex;
    justify-content:center;
}

.Left-part img
{
   width: 50vh;
}

.top-element 
{
    display: flex;
    justify-content: center;
}

.top-element img 
{
    width: 30%;
}

.bottom-element
{
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}

.bottom-element .form-header-name h3
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.form-input-types 
{
    display: flex;
    flex-direction: column;
}


.form-input-types input
{
    font-size: 1rem;
    /* margin-bottom: 1rem; */
    padding: 5px;
    /* border: 2px solid black; */
    border-radius: 5px;
    font-family:sans-serif;
    font-weight: bold;
}

.form-element 
{
    margin-top: 1rem;
}

.right-part-signup 
{
    margin: 2rem 0;
}

.term-condition
{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

.Account-already
{
    margin-top: 1rem;
}

.Account-already span 
{
    font-size: 1.2rem;
}

/*--------------Responsive-------------*/
@media screen and (max-width:1030px)
{
    .account-container
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .Left-part 
    {
        display: none;
    }

    .bottom-element 
    {
        width: 50%;
    }
}

@media screen and (max-width:825px)
{
   .account-container 
   {
     margin: 2rem 10rem;
   }    
}

@media screen and (max-width:550px) 
{
   .account-container 
   {
      margin: 2rem 4rem;
   }   

   .bottom-element
   {
     width: 60%;
   }

   .bottom-element .form-header-name h3 
   {
     font-size: 1rem;
   }

   .Account-already
   {
     font-size: 12px;
   }
   
   .Account-already span 
   {
     font-size: 1rem;
   }

   .form-input-types input 
   {
     padding: 3px;
     font-size: 12px;
   }

   .term-condition
   {
     font-size: 12px;
   }

   
}

@media screen and (max-width:395px) 
{
    .account-container
    {
        margin: 0;
        border-radius: 0;
    }

    .form-input-types label 
    {
        font-size: 14px;
    }

    .form-input-types input 
    {
        font-size: 10px;
    }

    .term-condition
    {
        font-size: 10px;
        gap: 5px;
    }


}


@media screen and (max-width:285px) 
{
   .account-container 
   {
     margin: 2rem;
   } 
   
   .bottom-element 
   {
      width: 80%;
   }
}